#inicio {
            color: aqua;                
        }
#intermedio {
            color: red;                
        }
#final {
            color: green;                
        }
#ste {
            color: rgb(92, 0, 128);                
        }
#tin {
            color: green;                
        }
#h3 {
    background-color: aqua;
}
h4{
    display:inline;

}
